/*.user*
drivers/*.user*
drivers/auxiliary/*.user*
drivers/ccd/*.user*
drivers/filter_wheel/*.user*
drivers/focuser/*.user*
drivers/telescope/*.user*
drivers/video/*.user*
examples/*.user*
examples/tutorial_five/*.user*
examples/tutorial_four/*.user*
examples/tutorial_one/*.user*
examples/tutorial_six/*.user*
examples/tutorial_three/*.user*
examples/tutorial_two/*.user*
libs/*.user*
libs/indibase/*.user*
libs/webcam/*.user*
tools/*.user*
